@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.progress-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .ant-progress-text {
    color: var(--color-text-primary);
  }
}

.active-pointer {
  pointer-events: none;
  opacity: 0.7;
}

.ant-image-preview-root {
  .ant-image-preview-content {
    .ant-image-preview-img-wrapper {
      padding: 0 30px;
      @include flex(center, center);

      &:before {
        display: none;
      }
    }
  }
}
